
build/
bin/
obj/


*.exe
*.out

*.o
*.obj
*.mod
*.so
*.dylib
*.dll

*.cubin
*.fatbin
*.ptx


*.swp
*.swo
*~

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.log
*.tmp
*.temp

kernel/*.mod
kernel/*.o
kernel/testing/*.mod
kernel/testing/*.o
kernel/cfd
